@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Exo_2";
		src: url("fonts/Exo2-VariableFont_wght.ttf") format("truetype");
	}

	* {
		@apply m-0 p-0 box-border font-main text-[#F4EEFF];
	}

	:root {
		@apply bg-root;
	}

	button {
		@apply hover:bg-[#52d1dd] transition-colors duration-150 bg-[#21c9d8] text-neutral-800 text-base font-extrabold rounded-xl px-4 py-2;
	}
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    font-size: small;
  }
}
@media only screen and (min-width: 600px) {
  :root {
    font-size: medium;
  }
} */
